g.bus {
	& > .mainline {
		stroke: #222;
		stroke-width: 8px;
		/* fill: #eee; */
	}

	.resizer {
		fill: transparent;

		&:hover {
			cursor: ew-resize;
		}
	}

	.dragger {
		fill: transparent;
	}
}
