.connection-terminal {
	& > .outline {
		stroke-width: 3px;
		fill: #fff;

		&.connecting-yes {
			fill: #afa;
		}
		&.connecting-no {
			fill: #888;
		}
		&.connecting-self {
			fill: #bbf;
		}
	}

	&.surplus .outline {
		stroke: #0cc;
	}
	&.exact .outline {
		stroke: #0b0;
	}
	&.shortfall .outline {
		stroke: #f00;
	}

	& > image {
		width: 56px;
		height: 56px;
		transform: translate(-28px, -28px);
		pointer-events: none;
	}

	& > text {
		transform: translate(0, 20px);
		text-anchor: middle;
		pointer-events: none;
		paint-order: stroke;
		font-size: 12px;
		stroke-width: 3px;
		fill: #fff;
		stroke: rgba(0, 0, 0, 0.8);
		stroke-linejoin: round;
	}
}
