.connector {
	stroke: #33f;
	stroke-width: 12px;
	fill: none;
}

.connector-text {
	text-anchor: middle;
	dominant-baseline: middle;
	pointer-events: none;
	paint-order: stroke;
	font-size: 12px;
	stroke-width: 3px;
	fill: #fff;
	stroke: rgba(0, 0, 0, 0.8);
	stroke-linejoin: round;
}
