.viewport {
	position: fixed;
	inset: 0;
	background-color: #444;
	overflow: hidden;

	& svg {
		width: 8000px; /* FACTORY_SIZE */
		height: 8000px; /* FACTORY_SIZE */
		display: block;
		position: relative;
		inset: 50%;
		transform-origin: 50% 50%;
		cursor: grab;

		& .backgrid {
			& rect {
				fill: #aaa;
			}
			& path {
				stroke: #666;
			}
		}
	}
}
