g.producer {
	& > .outline {
		stroke: #666;
		stroke-width: 3px;
		fill: #eee;

		&.merging-yes {
			fill: #afa;
		}
		&.merging-no {
			fill: #888;
		}
		&.merging-self {
			fill: #bbf;
		}
	}

	& > text {
		text-anchor: middle;
		fill: #666;
		pointer-events: none;
		dominant-baseline: middle;

		&.multiplier {
			font-size: 32px;
		}
		&.rate {
			font-size: 16px;
		}
	}
}
