import { Building } from "../types";

export const Buildings: Building[] = [
	{{#.}}
	{
		ClassName: {{ClassName}},
		DisplayName: {{mDisplayName}},
		Description: {{mDescription}},
	},
	{{/.}}
];
