import { Building } from "../types";
import { BigRat } from "../../src/math/BigRat";

export const Buildings: Building[] = [
	{{#.}}
	{
		ClassName: {{ClassName}},
		DisplayName: {{mDisplayName}},
		Description: {{mDescription}},
		PowerConsumption: {{{PowerConsumptionExpr}}},
		OverclockPowerFactor: {{{PowerConsumptionExponentExpr}}},
	},
	{{/.}}
];
