import { Item } from "../types";
import { BigRat } from "../../src/math/BigRat";

{{#.}}
import {{{ClassName}}} from "url:./images/{{{ClassName}}}.png";
{{/.}}

export const Items: Item[] = [
	{{#.}}
	{
		ClassName: {{ClassName}},
		DisplayName: {{mDisplayName}},
		Description: {{mDescription}},
		IsResource: {{isResource}},
		Icon: {{{ClassName}}},
		IsPiped: {{isPiped}},
		Color: {{Color}},
		SinkPoints: BigRat.fromInteger({{mResourceSinkPoints}}),
		SortOrder: {{SortOrder}},
	},
	{{/.}}
];

export const ItemsByClassName = new Map(Items.map(i => [i.ClassName, i]));
