import { Recipe } from "../types";
import { Items } from "./items";
import { Buildings } from "./buildings";
import { BigRat } from "../../src/math/BigRat";

export const Recipes: Recipe[] = [
	{{#.}}
	{
		ClassName: {{ClassName}},
		DisplayName: {{mDisplayName}},
		Inputs: [{{#Inputs}}{ Item: Items[{{Item}}], Quantity: BigRat.fromIntegers({{{QuantityP}}}, {{{QuantityQ}}}) }, {{/Inputs}}],
		Outputs: [{{#Outputs}}{ Item: Items[{{Item}}], Quantity: BigRat.fromIntegers({{{QuantityP}}}, {{{QuantityQ}}}) }, {{/Outputs}}],
		Duration: {{{DurationExpr}}},
		Building: Buildings[{{Building}}],
		Alternate: {{Alternate}},
		PowerConsumption: {{{PowerConsumptionExpr}}},
	},
	{{/.}}
];
