import type { Recipe } from "../types";
import { Items } from "./items";
import { Buildings } from "./buildings";
import { BigRat } from "../../src/math/BigRat";

export const Recipes: Recipe[] = [
	{{#.}}
	{
		ClassName: {{ClassName}},
		DisplayName: {{DisplayName}},
		SerializeId: {{SerializeId}},
		PlannerSerializeId: {{PlannerSerializeId}},
		Inputs: [{{#Inputs}}{ Item: Items[{{Item}}], Rate: {{{RateExpr}}} }, {{/Inputs}}],
		Outputs: [{{#Outputs}}{ Item: Items[{{Item}}], Rate: {{{RateExpr}}} }, {{/Outputs}}],
		Building: Buildings[{{Building}}],
		Alternate: {{Alternate}},
		PowerConsumption: {{{PowerConsumptionExpr}}},
	},
	{{/.}}
];
