g.producer {
	& > .outline {
		stroke: #666;
		stroke-width: 3px;
		fill: #eee;
	}

	& > text {
		text-anchor: middle;
		fill: #666;
		pointer-events: none;
		dominant-baseline: middle;

		&.multiplier {
			font-size: 32px;
		}
		&.rate {
			font-size: 16px;
		}
	}
}
