.prompt-backdrop {
	position: fixed;
	z-index: 1000;
	inset: 0;
	background-color: #fffa;

	display: flex;
	justify-content: center;
	align-items: center;

	.prompt {
		width: 360px;
		padding: 10px;
		max-height: 80%;
		background-color: #fff;
		box-shadow: 0 0 30px 10px #000a;
		display: flex;
		flex-direction: column;
		gap: 10px;

		.title {
			font-size: 20px;
		}

		.dialog-buttons {
			display: flex;
			justify-content: flex-end;
			gap: 10px;

			button {
				flex: 0 0 80px;
				height: 25px;
				padding: 0;
			}
		}
	}
}
