body {
	overflow: hidden;
}

button,
input[type="checkbox"],
label[data-has-checkbox] {
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
	}
}

input[type="text"] {
	padding: 2px;
	border: 1px solid #aaa;
	border-radius: 2px;
}
